<h1>Edit Broadway Play</h1>

<%= simple_form_for @play, html: {multipart: true} do |f| %>
	<%= f.file_field :play_img %>
	<%= f.select :category_id, @categories %>
  <%= f.input :title, label: "Play Title" %>
  <%= f.input :description %>
  <%= f.input :director %>
  <%= f.button :submit %>
<% end %>
