<!DOCTYPE html>
<html>
<head>
  <title>Broadway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Broadway", root_path, class: "navbar-brand"  %>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>

			<ul class="nav navbar-nav">
				<% if user_signed_in? %>
					<li><%= link_to "Add Play", new_play_path %></li>
				<% end %>
			</ul>
		</div>
	</nav>


	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
